services:
  db:
    extends:
      file: ./docker-compose.yml
      service: db
    ports: []   # Garantiza que no exponga puertos

  ch-server:
    extends:
      file: ./docker-compose.yml
      service: ch-server
    ports: []   # Garantiza que no exponga puertos

  otel-collector:
    extends:
      file: ./docker-compose.yml
      service: otel-collector
    # Aquí sobrescribimos los puertos del original
    ports:
      - "4318:4318"  # OTLP HTTP para Next.js
      # - "4317:4317" # Si necesitas OTLP gRPC, descomentar

  app:
    extends:
      file: ./docker-compose.yml
      service: app
    # Quitamos los puertos expuestos (Traefik los manejará)
    ports: []

networks:
  internal:
