services:
  db:
    extends:
      file: docker-compose.yml
      service: db
      volumes:
      - mongo_data:/data/db

  otel-collector:
    extends:
      file: docker-compose.yml
      service: otel-collector
    # Aquí sobrescribimos los puertos del original
    ports:
      - "4318:4318" # OTLP HTTP para Next.js
      # - "4317:4317" # Si necesitas OTLP gRPC, descomentar

  app:
    extends:
      file: docker-compose.yml
      service: app
    # Quitamos los puertos expuestos (Traefik los manejará)
    ports: []
    environment:
      FRONTEND_URL: ${HYPERDX_APP_URL}

  ch-server:
    extends:
      file: docker-compose.yml
      service: ch-server
    volumes:
      - ch_data:/var/lib/clickhouse
      - ch_logs:/var/log/clickhouse-server
networks:
  internal:

volumes:
  mongo_data:
  ch_data:
  ch_logs: